:root {
    --primary-color: #43A046;
    --secondary-color: #FFFFFF;
    --third-color: #ABBED1;
    --text-color: #373636;
  }

.container{
    background-color: var(--secondary-color);
    padding-top: 5%;
}

.main_calc{
    margin-bottom: 7%;
}

.calculadora{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    background-color: var(--primary-color);

    margin: 0 30%;
    padding: 2rem;

    border-radius: 1rem;
}

@media (max-width: 1600px) {
    .calculadora{
        margin: 0 20%;
    }
}

@media (max-width: 1100px) {
    .calculadora{
        margin: 0 15%;
    }
}

@media (max-width: 950px) {
    .calculadora{
        margin: 0 5%;
    }
}

@media (max-width: 750px) {
    .calculadora{
        grid-template-columns: 1fr;
        margin: 0 15%;
    }
}

@media (max-width: 550px) {
    .calculadora{
        grid-template-columns: 1fr;
        margin: 0 5%;
    }
}

@media (max-width: 450px) {
    .calculadora{
        grid-template-columns: 1fr;
        margin: 0 10px;
        padding: 1rem;
    }
}

.text-dishes, 
.text-number-adults, 
.text-number-children {
    display: flex;
    justify-content: left;
    align-items: flex-start;

    padding: 0.5rem 0 0 1rem;
    margin: 1% 0;

    font-size: 1.25rem;
    color: var(--text-color);
}

.option-dishes{
    display: flex;
    margin: 0 1rem 0 0;
}

.select-dishes{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color:  var(--secondary-color);
    color: var(--text-color);    

    border-radius: 1.5rem;
    border: none;
    width: 100%;
    height: 4rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.add-dishes{
    cursor: pointer;
    height: 4rem;
}

.range{
    position: relative; 
}

.adults-range, .children-range{
    width: 75%;
    height: 1.65rem;
    cursor: pointer;
}


.range-adults-text, .range-children-text {
    background: white;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-110%, -50%);
}


.right{
    display: flex;
    flex-flow: column;
}

.time {
    position: relative; /* Para que o posicionamento absoluto do input seja relativo a este container */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.text-time{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0 0 1rem;
    margin: 1% 0;

    font-size: 1.25rem;
    color: var(--text-color);
}

.amount-time {
    position: absolute;
    z-index: 1; /* Garante que o input fique na frente do SVG */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color);
    color: var(--secondary-color);
    font-size: 2rem;
    border-radius: 5px;
}

.calculate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.calculate-button button{
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--text-color);
    
}

.calculate-button button span {
    color:  var(--secondary-color);
}

.calculate-button{
    width: 75%;
    height: 100%;
    padding: 1rem;
    margin-left: 5%;
}

.calculate-button span{
    font-size: 1.8rem;
}


/* =========================Lista de Itens=================================*/ 
.list-dishes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 0 3rem;
}

.dish .dish-content {
    display: flex;
}

.text-dish {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;

    font-size: 2rem;
}

.take-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
}

/* ===========Modal==============*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content{
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    gap: 10px;
    border-radius: 10px;
    background: var(--third-color);
    color: var(--text-color);
    box-shadow: 0px 10px 14px 18px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    .modal-content{
        max-width: 80%;
        left: 45%;
    }

    
}

.title-modal {
    font-size: 30px;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
}

.modal-itens{
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 0 1rem;
    margin: 0 0.5rem;
}

.modal-subtitle{
    font-size: 30px;
}

.necessary-amount{
    font-style: italic; 
    font-size: 25px;
    font-weight: 300;
}

.recipe-item{
    font-size: 24px;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #FFFFFF;
}

.recipe-list .item {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.close-modal {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.close-modal:hover {
    background-color: #65d88d; /* Altera a cor de fundo quando o mouse passa por cima */
}

.close-modal span {
    color: var(--text-color);
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .title-modal, .modal-subtitle, .close-modal span {
        font-size: 28px;
    }

    .necessary-amount{
        font-size: 24px;
    }

    .recipe-item{
        font-size: 18px;
    }
}