:root{
    --green: #dbf5dc;
    --white: #fff;
    --black: #292929;
    --gray: #373636;
}

*{
    margin: 0;
    padding: 0;      
    font-family: 'Montserrat', sans-serif;
}

/* /header está sendo chamado no css header.css */

/* main */


.container_estatistica {
    width: 100%;
    max-width: 1200px;
    padding: 0 1.4px;
    margin: auto auto;
}


.s-desperdicio {
    padding-top: 1%;
    margin-bottom: -15%
    
}

@media (min-width: 1150px){
    .s-desperdicio {
        margin-bottom: -20%;       
    }
}

@media (max-width: 900px){
    .s-desperdicio {
        margin-bottom: -15%;       
    }
}

.s-desperdicio .wrapper {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

@media (max-width: 1140px){
    .s-desperdicio .wrapper{
        flex-direction:column-reverse;
        align-items: center;   
        padding: 0 2rem;            
    }
}


.s-desperdicio .area_img {
    width: 600px;
    height: 780px;
}

@media (max-width: 900px){
    .s-desperdicio .area_img{
        width: 350px;
        height: 400px;       
    }
}

.s-desperdicio .text-area {
    max-width: 650px;
    height: 400px;    
}

@media (max-width: 900px){
    .s-desperdicio .text-area{
        align-items: center; 
        max-width: 380px;
        height: 210px;                     
    }
}

.text-area  .title {
    font-size: 35px;
    font-weight: 600;
    color: var(--gray);
    background-color: var(--green);
    border-radius: 30px;
    text-align: center;     
}

.s-sofrem{
    margin-bottom: -10%
}
.s-sofrem .wrapper{
    display: flex;    
    align-items: center;      
    flex-direction: row-reverse;  
}

@media (max-width: 1140px){
    .s-sofrem .wrapper{
        flex-direction:column-reverse;        
    }
}

.s-sofrem .area_img{
    width: 600px;
    height: 780px;
}

@media (max-width: 900px){
    .s-sofrem .area_img{
        width: 350px;
        height: 400px;       
    }
}

.s-sofrem .text-area {
    max-width: 650px;
    height: 400px;    
}

@media (max-width: 900px){
    .s-sofrem .text-area{
        align-items: center; 
        max-width: 380px;
        height: 210px;                     
    }
}

.s-sofrem .title {
    font-size: 35px;
    font-weight: 600;
    color: var(--gray);
    background-color: var(--green);
    border-radius: 30px;
    text-align: center;     
}


