@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    
}

.perg_section{
    max-height: 300vh;
    width:80%;
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3rem;
    margin: 2rem 0rem;
    
}

.faq{
    max-width: 800px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #43A046;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
  font-size: 1.8rem; 
  
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease ;
}

.answer p{
    padding-top: 1rem;
    line-height:1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out ;
}

.faq.active svg{
    transform:rotate(180deg) ;
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* forms*/

.container_form h2{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label,
.input-container {
    text-align: start;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}

input {
    padding: 10px;
    flex: 1;
}

button {
    padding: 10px 15px;
    background-color: #fafafa;
    color: #070707;;
    cursor: pointer;
    border-color: #000;
    border-radius: 0cap;
}

button:hover {
    background-color: #fcfbfb;
    color: #020202;
}

.main-content {
    margin: 20px 0;
}

.contact-section {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

.contact-section form {
    max-width: 40%;
    margin: 0 auto;
    background-image: url("../img/form3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    margin-bottom: 20px;
    padding: 1%;
    width: 80%;    
}

.form_button{
    border-radius: 15px; 
    background-color: #43A046;
    color: #fff;
    width: 40%;
    font-size: 17px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #43A046;
}

/* ----- Estilos dinâmicos ----- */

input.error, textarea.error{
    border: solid 2px #992020;
    color: #662020;
  }


  
  input.correct {
    background-color: #BBCCBB;
    color: #206620;
  }
  
  .error-text {
    display: none;
    text-align: start;
    margin-top: 5px;
    font-size: .8rem;
    font-weight: 600;
    color: #992020;
  }
  
  .visible {
    display: block;
  }


@media (max-width: 1020px){
    .contact-section form {
        max-width: 100%;
    }

    .form_button{
        width: 100%;
    }
}

/* Botão Topo */

.back-to-top {
    background-color: #43A046;
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.60s; 
    transform: translateY(100%);
   }
   
   .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
   }