body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}

.logo_header{
    width: 25%;
    height: 25%;
    margin-left: 30%;
    margin-top: 10px;
}

nav {
    display: flex;
    margin-right: 10%; /* Adiciona margem à direita */
}

.item_menu {
    margin-left: 20px; /* Adiciona margem à esquerda */
    padding-top: 8px;
}

.item_menu a {
    color: #fff;
    text-decoration: none;
}



span{
    font-size: 20px;
    color: black;
}

.map{
    height: 35%;
    width: 35%;
}
/* ------------- */





/* --------------- */


.footer {
    background-color: #43A046;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.logo_footer {
    width: 80px; 
    height: 80px; 
    margin-left: 115%;
}

.menu_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 15%; */
}

.menu_footer_item {
    margin: 5px 0;
    list-style: none; /* Remover os pontos da lista */
}

.menu_footer_item a {
    color: #fff;
    text-decoration: none;
}

.menu_footer_item a:hover {
    text-decoration: underline;
}

.social_midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
}

.social_midia p {
    margin: 0; /* Removendo a margem do parágrafo */
    padding-left: 40px;
}

.social {
    display: flex;
    justify-content: center; /* para alinhar os ícones ao centro */
}

.list_ico {
    margin: 0 15px; /* Adicionando margem entre os ícones */
    list-style: none;

}

.list_ico img {
    width: 25px; /* ou qualquer outra medida desejada */
    height: 25px; /* ou qualquer outra medida desejada */
    list-style: none; /* Remover os pontos da lista */
    
}
